@tailwind base;
@tailwind components;
@tailwind utilities;

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body{
  overflow-x: hidden;
}

.background {
  background: linear-gradient(180deg, #ffffff00 0%, #FFF 100%);
}
.footer {
  background: linear-gradient(133deg, #566270 0%, #283444 100%);
}
.navlink {
  background: linear-gradient(90deg, #2af598 0%, #009efd 100%);
}